*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'poppins';
}

body{
    scroll-behavior: smooth;
    background-color: var(--primary-color);
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, border 150ms ease-in-out;
}

h1, #container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1{
    margin-top: 50px;
    font-size: 50px;
    color: var(--secondary-color);
}

.theme{
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translateY(90%); */
}

#Light{
    width: 50px;
    cursor: pointer;
    /* transform: translateY(10px); */
    margin-bottom: -150px;
    transition: transform 0.5s ease-in-out;
}


#input_text {
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 700px; 
    font-size: 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: solid 5px var(--extra-color);
    
}

#btn {
    margin-left: 10px; 
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff; 
    background-color: var(--background-btn); 
    border: 2px solid #172646; 
    transition: background-color 250ms, color 250ms; 
}

#btn:hover{
    background-color: var(--background-btn-hover);
    color: #d4d4d4;
}

#time{
    margin-left: 10px;
    margin-top: 70px;
    display: inline-block; 
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--background-btn); 
    border: 2px solid #172646; 
    color: #ffffff; 
    padding: 5px 10px; 
    cursor: pointer; 
    transition: background-color 250ms, color 250ms; 
}


#remove_btn {
    margin-left: 10px;
    margin-top: 70px;
    display: inline-block; 
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--background-btn); 
    border: 2px solid #172646; 
    color: #ffffff; 
    padding: 5px 10px; 
    cursor: pointer; 
    transition: background-color 250ms, color 250ms; 
}

#remove_btn:hover{
    background-color: var(--background-btn-hover);
    color: #d4d4d4;
}

#edit_btn{
    margin-left: 10px;
    margin-top: 70px;
    display: inline-block; 
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--background-btn); 
    border: 2px solid #172646; 
    color: #ffffff; 
    padding: 5px 10px; 
    cursor: pointer; 
    transition: background-color 250ms, color 250ms; 
}

#edit_btn:hover{
    background-color: var(--background-btn-hover);
    color: #d4d4d4;
}

#save_btn{
    margin-left: 10px;
    margin-top: 70px;
    display: inline-block; 
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--background-btn); 
    border: 2px solid #172646; 
    color: #ffffff; 
    padding: 5px 10px; 
    cursor: pointer; 
    transition: background-color 250ms, color 250ms; 
}

#save_btn:hover{
    background-color: var(--background-btn-hover);
    color: #d4d4d4;
}

#Para{
    display: inline-block;
    margin-left: 10px;
    margin-top: 70px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    width: 600px; 
    font-size: 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: solid 5px var(--extra-color);
}

#list_container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root{
    --primary-color:  #f1f2f6;
    --secondary-color: #000000;
    --extra-color: #4a008f;
    --background-btn: #2f3542;
    --background-btn-hover: #101216;
}

.dark-theme{
    --primary-color: #151515;
    --secondary-color: #ffffff;
    --extra-color: #8400ff;
    --background-btn: #0069FF;
    --background-btn-hover: #002861;
}

#checkbox {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 70px;
    display: inline-block; 
    border-radius: 5px;
    background-color: var(--background-btn); 
    border: 2px solid #172646; 
    color: #ffffff; 
    padding: 5px 10px;
    cursor: pointer; 
    transition: background-color 250ms, color 250ms; 
}
